repos:
  - repo: https://github.com/ambv/black
    rev: stable
    hooks:
    - id: black
      language_version: python3.7
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: flake8
      - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: check-docstring-first
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.711
    hooks:
      - id: mypy
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.4.0
    hooks:
      - id: python-use-type-annotations
  - repo: git://github.com/doublify/pre-commit-isort
    rev: 'master'
    hooks:
      - id: isort
