include README.rst
include LICENSE.txt
include setup.py
include setup.cfg
include requirements.txt

graft zeugma

global-exclude *.so
global-exclude *.pyd
global-exclude *.pyc
global-exclude *~
global-exclude \#*
global-exclude .git*
global-exclude .DS_Store
global-exclude *.png
